[submodule "project-2-dsm-and-map-reduce-framework-Aman-ai"]
	path = project-2-dsm-and-map-reduce-framework-Aman-ai
	url = https://github.com/PSU-CSE-511/project-2-dsm-and-map-reduce-framework-Aman-ai
